 .home-container {
    display: flex;
    margin: 5%;
    background-color: #ffffff;
    border: 2px solid black;
  }

  .action-button {
    width: 100%;
    padding: 15px 30px;
    background-color: #2b742d;
    color: #ffffff;
    margin-bottom: 5px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
  }

  .action-button:hover {
    background-color: #0c4b17;
  }
  
  #home-left-column {
    flex: 2;
    padding: 20px;
  }
  
  #home-right-column {
    flex: 1;
    padding: 20px;
  }
  .home-section {
    padding: 20px;
    background-color: rgb(195, 195, 195);
    margin-bottom: 20px;
  }
  
  #top-section {
    text-align: center;
  }

/* Friend Stuff */




  /* autommented for now

.last-game-item {
    display: grid;
    grid-template-columns: 50% 20% 5% 25%;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .friend-item {
    position: relative;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

  */