
#settings-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px; /* Adjust the margin-top as needed */
    width: 100%;
  }
#settings-content-right {
    display: flex;
    flex: 0;
    align-items: center;
    justify-content: center;
    margin-top: 50px; /* Adjust the margin-top as needed */
  }

  #settings-navbar-left {
    display: flex;
    flex: 0;
    align-items: center;
    justify-content: center;
    margin-top: 50px; /* Adjust the margin-top as needed */
  }

  .navigation {
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .navigation button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navigation button:hover {
    background-color: #f5f5f5;
  }
  
  .section {
    padding: 20px;
  }